<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" 
         connectionString="Server=localhost;Database=YourDB;Integrated Security=True;TrustServerCertificate=True;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="CommandTimeout" value="30"/>
    <add key="Database:DataSource" value="localhost"/>
    <add key="Database:InitialCatalog" value="YourDB"/>
    <add key="Database:IntegratedSecurity" value="true"/>
    <add key="Database:PersistSecurityInfo" value="false"/>
    <add key="Database:TrustServerCertificate" value="true"/>
    <add key="Database:Username" value=""/>
    <add key="Database:Password" value=""/>
  </appSettings>
</configuration> 